* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.about-bg-img {
    background-image: url('../image/welcome_to_the_beach-wallpaper-2560x1440.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    border-radius: 10px;
}

.about-bg-black {
    position: absolute;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding-top: 170px;
}

.about-bg-rel {
    position: relative;
    background-image: url('../image/about-bg-1.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.about-img1 {
    height: 350px;
    width: 350px;
    position: relative;
    margin-left: 150px;
    margin-top: 50px;
    z-index: 1;

}

.about-img2 {
    position: absolute;
    height: 350px;
    width: 350px;
    margin-left: 350px;
    margin-top: -230px;
    z-index: 1;
}

.about-para {
    padding: 50px;
    text-align: left;
}


.about-paragraph {
    font-size: 17.5px;
}

.about-bg-img2 {
    background-image: url('../image/bg-2-about.png');
    height: 500px;
    background-position: cover;
}

.team-img {
    position: relative;
    height: 400px;
    padding-left: 20px;
    padding-right: 10px;
}

.about-team {
    height: 450px;
    margin-bottom: 20px;
}

.team-info {
    position: absolute;
    height: 80px;
    width: 91.5%;
    top: 79.9%;
    left: 20px;
    color: white;
    background: #222222;
    text-align: center;
    padding-top: 20px;
}

.team-info>p {
    font-size: small;
}

.team-row {
    width: 99.9%;
    margin-top: 30px;
    padding-left: 50px;
}

.circle1 {
    margin-left: 20px;
}

.hr-line {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-right: 10px;

}

.footer-row {
    background-color: #D6E4E5;
    border-radius: 10px;
}

.footer-row {
    background-color: #D6E4E5;
    border-radius: 10px;
}


.icon-footer {
    width: 34px;
    height: 34px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-left: 5px;
}

@media screen and (max-width:400px) {
    .about-img1 {
        height: 230px;
        width: 180px;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        z-index: 1;

    }

    .about-img2 {
        position: absolute;
        height: 230px;
        width: 180px;
        margin-left: 100px;
        margin-top: -140px;
        z-index: 1;
    }

    .about-para {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 15px;
    }

    .over-para {
        font-size: 13px;
        padding-top: 50px;
    }

    .about-paragraph {
        font-size: 10.5px;
    }

    .line-div {
        margin-top: 1000px;
        margin-left: 10px;
    }

    .footer-text {
        text-align: center;
        font-size: 14px;
        order: 3;
    }

    .footer-icon {
        text-align: center;
        padding: 10px;
    }

    /* .steps1{
        display: flex;
        flex-direction: row;
        text-align: start;
    }
    .steps1>.circle{
        margin-right: 30px;
        margin-left: 0px;
    }
    .steps1>.step-img{
        margin-left: 30px;
    }
    .hr-line{
        border-bottom: 1px solid black;
        margin-bottom: -2px;

        margin-left: 30px;
        border-bottom: none;
        height: 250px;
        
    }
    .circle{
        width: 30px;
    } */
}

@media screen and (min-width: 400px) {
    .about-img1 {
        height: 260px;
        width: 210px;
        position: relative;
        margin-left: 70px;
        margin-top: 20px;
        z-index: 1;

    }

    .about-img2 {
        position: absolute;
        height: 260px;
        width: 210px;
        margin-left: 170px;
        margin-top: -140px;
        z-index: 1;
    }

    .about-para {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 15px;
    }

    .over-para {
        font-size: 13px;
        padding-top: 50px;
    }

    .about-paragraph {
        font-size: 12px;
    }

    .line-div {
        margin-top: 1000px;
        margin-left: 10px;
    }

    .footer-text {
        text-align: center;
        font-size: 14px;
        order: 3;
    }

    .footer-icon {
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width: 600px) {
    .about-img1 {
        height: 300px;
        width: 250px;
        position: relative;
        margin-left: 150px;
        margin-top: 50px;
        z-index: 1;

    }

    .about-img2 {
        position: absolute;
        height: 300px;
        width: 250px;
        margin-left: 280px;
        margin-top: -190px;
        /* z-index: 1; */
    }

    .about-para {
        padding-right: 30px;
        padding-left: 30px;
        /* font-size: 15px; */
    }

    .over-para {
        font-size: 22px;
        padding-top: 70px;
    }

    .about-paragraph {
        font-size: 17px;
    }
}

@media screen and (min-width: 768px) {
    .about-img1 {
        height: 350px;
        width: 350px;
        position: relative;
        margin-left: 150px;
        margin-top: 50px;
        z-index: 1;

    }

    .about-img2 {
        position: absolute;
        height: 350px;
        width: 350px;
        margin-left: 350px;
        margin-top: -230px;
        z-index: 1;
    }

    .over-para {
        padding-top: 20px;
    }

    .line-div {
        margin-top: 0px;
        margin-left: 10px;
    }

    .steps1 {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .steps1>.circle {
        margin-right: 30px;
        margin-left: 0px;
        height: auto;
        width: 111%;
        padding: 0px;
    }

    .steps1>.step-img {
        margin-left: 0px;
    }

    .hr-line {
        border-left: none;
        border-bottom: 1px solid black;
        height: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 13px;

    }
    .footer-div{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-text{
        text-align: start;
        font-size: 14px;
        order: 0;
    }
    .footer-icon{
        text-align: center;
    }
}
@media screen and (min-width: 1024px){
    .about-img1 {
        height: 350px;
        width: 350px;
        position: relative;
        margin-left: 150px;
        margin-top: 50px;
        z-index: 1;

    }

    .about-img2 {
        position: absolute;
        height: 350px;
        width: 350px;
        margin-left: 350px;
        margin-top: -230px;
        z-index: 1;
    }

    .steps1 {
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    .steps1>.circle {
        margin-right: 30px;
        margin-left: 0px;
        height: auto;
        width: 111%;
        padding: 0px;
    }

    .steps1>.step-img {
        margin-left: 0px;
    }

    .hr-line {
        border-left: none;
        border-bottom: 1px solid black;
        height: 0px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 13px;

    }
    .footer-div{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-icon{
        text-align: center;
    }
    .footer-text{
        text-align: start;
        font-size: 14px;
        order: 0;
    }
}