* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.home-bg-img {
    height: 450px;
    width: 100%;
    /* position: relative; */
    background-image: url('../image/background.png');
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}

.home-text{
    height: 500px;
    width: 700px;
    padding-top: 130px;
    /* margin-top: 130px; */
}
.card-div {
    /* margin-top: -100px; */
    box-shadow: 0 0 5px;
}

.icon-div {
    color: rgba(255, 0, 0, 0.71);
}

.dest-div {
    width: 400px;
}

.dest-img {
    width: 100%;
    height: 100%;
}

.img-div {
    width: 400px;
    height: 300px;
}


.clr-text {
    color: midnightblue;
}

.blog-left-bg{
    background-image: url(../image/blog1.png);
    background-position: center;
    background-size: 100% 100%;
    height: 500px;
    position: relative;
    border-radius: 10px;
}
.blog-right-bg1{
    background-image: url(../image/blog2.png);
    background-position: center;
    background-size: 100% 100%;
    height: 250px;
    position: relative;
    border-radius: 10px;
}
.blog-right-bg2{
    background-image: url(../image/blog3.png);
    background-position: center;
    background-size: 100% 100%;
    height: 250px;
    position: relative;
    border-radius: 10px;
}

.style-relative {
    position: relative;
    background-image: url(../image/wp3108661.jpg);
    background-position: center;
    background-size: 100% 100%;
    /* width: 100%; */
    height: 600px;
}

.style-absolute {
    position: absolute;
    /* width: 50%; */
    height: 600px;
    background-color: white;
    opacity: 0.7;
}

.cust-para {
    font-size: 18px;
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 30px;
}

.cust-img {
    margin-left: 70px;
}

.icon-abs {
    color: darkgray;
    padding-top: 100px;
    padding-left: 80px;

}

.footer-row {
    background-color: #D6E4E5;
    border-radius: 10px;
}


.icon-footer {
    width: 34px;
    height: 34px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    margin-left: 5px;
}

@media screen and (max-width :400px){
    .home-bg-img{
        /* width: 0%; */
        height: auto;
        margin: 0px 0px;
    }
    .home-text{
        height: auto;
        width: auto;
        padding-top: 30px;
        font-size: 5px;
    }
    .card-div{
        margin-bottom: 80px;
    }
    .blog-right-bg1{
        margin-top: 20px;
    }

    .cust-para{
        font-size: 15px;
    }
    .footer-text{
        text-align: center;
        font-size: 14px;
        order: 3;
    }
    .footer-icon{
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width: 400px){
    .home-bg-img{
        /* width: 0%; */
        height: auto;
        margin: 0px 0px;
    }
    .home-text{
        height: auto;
        width: auto;
        padding-top: 30px;
        font-size: 5px;
    }
    .card-div{
        margin-bottom: 80px;
    }
    /* .blog-right-bg1{
        margin-top: 20px;
    } */

    .cust-para{
        font-size: 15px;
    }
    .footer-text{
        text-align: center;
        font-size: 14px;
        order: 3;
    }
    .footer-icon{
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width: 600px){
    .home-bg-img{
        /* width: 0%; */
        height: auto;
        margin: 0px 0px;
    }
    .home-text{
        height: auto;
        width: auto;
        padding-top: 30px;
        font-size: 5px;
    }
    .card-div{
        margin-bottom: 80px;
    }
    /* .blog-right-bg1{
        margin-top: 20px;
    } */

    .cust-para{
        font-size: 15px;
    }
    .footer-text{
        text-align: center;
        font-size: 14px;
        order: 3;
    }
    .footer-icon{
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width: 768px){
    .home-text{
        height: 500px;
        width: 700px;
        padding-top: 130px;
    }
    .card-div{
        margin-bottom: 80px;
    }
    .cust-para{
        font-size: 15px;
    }
    .footer-div{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-text{
        text-align: start;
        font-size: 14px;
        order: 0;
    }
    .footer-icon{
        text-align: center;
    }
}

@media screen and (min-width: 1024px){
    .card-div{
        margin-bottom: 80px;
    }
    /* .dest-text{
        width: 900px;
    } */
    .footer-div{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-icon{
        text-align: center;
    }
    .footer-text{
        text-align: start;
        font-size: 14px;
        order: 0;
    }
}
@media screen and (min-width: 1280px){
    .card-div{
        margin-bottom: 0px;
    }
    
    .cust-para{
        font-size: 15px;
    }
    .footer-div{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-icon{
        text-align: center;
    }
    .footer-text{
        text-align: start;
        font-size: 14px;
        order: 0;
    }
}
